.list{
  padding-top: 5px;

  .item{
    background: green;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
}

.view{
  display: flex;
}

.breeding-rule{
  display: flex;
  justify-content: center;
  .entry,
  .result{
    padding: 5px;
  }
}
